*{
    
    margin: 0;
    font-family: SoDoSans_Light,Helvetica,sans-serif!important;
}
.menu{
    display: flex;
    flex-direction: row;
    height: 80px;
    position: fixed;
    background-color: white;
    width: 100%;

    
    

}
.left{
    display: flex;
    flex-direction: row;
   padding-left: 60px;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
}
.right{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;

   
    align-items: center;

}
.logo{
   width: 45px;

}
.nav-menu{
    text-decoration: none;
    padding: 25px;
    font-size: 17px;
    color: #212529;

}
.search-tab{
    width: 250px;
    height: 30px;
    border-radius: 20px;
    padding-left: 50px;
    
}
.banner{
  display: flex;
    height: 40px;
    background-color: #1e3932;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-top: 115px;
    padding-left: 37px;
   
}
.left1{
    width: 50%;
    padding-left: 120px;
    
}
.right1{
    width: 50%;
    padding-left: 770px;
    padding-bottom: 50px;

}
.Know-more-btn{
    width: 110px;
    height: 35px;
    border-radius: 25px;
    background-color: #1e3932;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    
}
.banner-heading{
    font-size: 20px;
    color: white;
    font-weight: lighter;
    width: 400px;

}
gal-img{

}
.gallery{
    width: 120px;
    border-radius: 60px;
    padding: 50px;
}
.gallery5{
    padding-top: 50px;
    padding-left: 45px;
    width: 140px;
    border-radius: 60px;
    
}
.gallery6{
    padding-top: 50px;
    padding-left: 50px;
    width: 140px;
    border-radius: 60px;
    
}
.title-text{
    color: rgb(30, 57, 50);
    padding-top: 30px;
    padding-left: 170px;
    font-size: 28px;
}
.collections{
    display: flex;
    justify-content: center;
    margin-left: -20px;
    margin-bottom: 40px;
}
.gal-img{
    width: 120px;
    border-radius: 60px;
}
.gal-text{
    padding-left: 25px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #212529;
}
.gal-text2{
    padding-left: 35px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #212529;
}
.gal-text3{
    padding-left: 40px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #212529;
}
.gal-text4{

    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #212529;
    padding-left: 16px;
}
.gal-text5{

    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #212529;
    padding-left:4px ;
  
    
}
.gal-text6{
   justify-content: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #212529;
    padding-left: 15px;

}
.slide{
    display: flex;
    background-color: #dbb74b;
    width: 1200px;
    height: 200px;
    border-radius: 8px;
    margin-left: 160px;
    padding-top: 30px;
    margin-bottom: 100px;
}

.button{
    background-color: #00754a;
    height: 35px;
    width: 200px;
    border-radius: 35px;
    padding-top: 10px;
}
.btn{
    margin-left: 65px;
    
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}
.milkshake-img{
    width: 100px;
}
.content{
    padding-left: 50px;

}
.first-line{
    font-size: 16px;
    color: #000000de;
}
.second-line{
    font-size: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
    color: #000000de;
    font-stretch: ultra-expanded;
}
.third-line{
    font-size: 16px;
    color: #000000de;
    padding-bottom: 45px;
    font-stretch: ultra-expanded;
}
.fourth-line{
    margin-bottom: 5px;
    font-size: 13px;
    color: #000000de;

}
.fifth-line{
    font-size: 16px;
}
.order-now{
    padding-left: 115px;
    margin-top: 130px;
    font-weight: 800;
}
.card-container{
    display: flex;
    padding-left: 100px;
    background-color: #edebe9;
    height: 300px;
    width: 93.5%;
    
}
.card-header{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #1E3932;
    background-color: #edebe9;
  
}

.right-header-text{
    text-decoration: none;
    color: #00754a;
    font-size: 14px;
    font-weight: 600;
    margin-top: 50px;
 
    
   
}
.flower{
    margin: 0;
    padding-left: 100px;

}
.leaf-img{
    width: 70px;

    
}
.right-header{
    display: flex;



}
.left-header{
    margin-top: 50px;
    padding-left: 40px;
}
.card-space{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 330px;
    margin-bottom: 80px;
    padding: 16px 24px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;

}

.item-img1{
    width: 100px;
    border-radius: 15px;
    
    
}
.item-name{
    font-weight: 600;
    margin-top: 20px;
 
}

.quantity{
    font-size: 10px;
    margin-top: 5px;
    color: #6c757d;
  
    

}
.price-value{
    margin-top: 120px;
    margin-left: -197px;

}
.price{
   
    font-weight: 600;
    
}
.add-item{
    margin-top: 105px;
    

}
.add-item-btn{
    background-color: #00754a;
    color: white;
    font-size: 14px;
    border-radius: 14px;
    width: 110px;
    height: 35px;
    border-style: none;
    font-weight: 600;
    box-shadow: #00754a;
    
}
.nonveg{
    margin-left: 20px;
}
.description{
    width: 200px;
}

.poster{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #EDEBE9;
    padding-top: 25px;

}
.poster-picture{
    display: flex;
    height: 410px;
    width: 100%;
    background-color: #EDEBE9;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-bottom: 100px;
}
.poster-img{
    height: 400px;
    min-width: 1200px;
    object-fit: cover;
    margin-left: 160px;
    border-radius: 10px;
   
}

.title-text1{
margin-left: -1150px;
margin-top: 200px;
color: white;
}
.h1-text{
    font-size: 26px;
    color: #1E3932;
    margin-left: -100px;
    font-size: 25px;
    font-weight: 800;
    margin-left: 60px;
}
.discover-more{
    color: #00754A;
    text-decoration: none;
    margin-left: 500px;
    font-size: 13px;
    font-weight: 600;
}
.para-div{
    
    color: white;
    margin-left: -1150px;
    margin-top: 255px;
    height: 30px;
   
    
}
.learn-more{
    display: flex;
    flex-direction: row;
   
}
.learn-more-button{
    margin-left: 190px;
    margin-top: -200px;
    height: 40px;
    width: 210px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
}
.down-area{
    background-color:#0e382c;
    display: flex;
    padding-bottom: 60px;
    padding-left: 150px;
    padding-top: 80px;
    
}

.about-us{
    display: flex;
    flex-direction: column;
    padding-left: 60px;

}
.responsibility{
    display: flex;
    flex-direction: column;

    padding-left: 30px;
}
.quick-links{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.big-link{
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding-left: 60px;
    margin-left: 20px;
}
.small-link{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 20px;
    font-weight: lighter;
    text-align: left;
    padding-left: 60px;
}
.social-media{
    padding-left: 45px;
}
.social-media-text{
    font-size: 22px;
    color: white;
    padding-bottom: 18px;
    
}
.app-logo{
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    
}
.app-img{
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;

}

.footer2{
    display: flex;
    background-color: #0e382c;
}
.footer-p{
    width: 140px;
    font-size: 15px;
    color: white;
    padding-bottom: 50px;
    padding-top: 25px;
    padding-left: 150px;
   

}
.footer2{
    display: flex;
    flex-direction: row;
    height: 20px;
    padding-left: 150px;
    padding-bottom: 50px;
    cursor: pointer;
}
.text1{
    width: 140px;
    font-size: 15px;
    color: white;
    border-right: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: lighter;
}
all-right-reserved.{

}
.rights-text{
    color: white;
    padding-left: 300px;
    font-size: 12px;
}
